/**
 * STUDENTS CSS FILE FOR PEER-TUTORING CLE SUSTECH
 */

root {
    display: block;
}

/* BACKEND GENERAL ELEMENTS
   -------------------------------------------------------------------- */

/* Header */
#header {
    background-color: #296d97;
    border-bottom: 1px solid #4197cb;
    border-radius: 0;
    margin-bottom: 15px;
}

#header #header-logo {
    padding: 24px;
	padding-left: 40px;
	height: 100px;
	transition: all 0.3s;
}

#header #header-logo img {
    float: left;
    margin-right: 10px;
	width: 100%;
	transition: all 0.3s;
}

#header .navbar-header .navbar-toggle {
	margin-top: 30px;
	margin-bottom: 30px;
}

/* Navicon */
#header .navbar-header .navbar-toggle .icon-bar {
    background-color: rgba(255,255,255,0.9);
	width: 30px;
	height: 4px;
	border-radius: 2px;transition: 0.3s;
}
.change_navicon .bar1 {
	-ms-transform: rotate(45deg) translate(3px, 8px);
	-moz-transform: rotate(45deg) translate(3px, 8px);
	-webkit-transform: rotate(45deg) translate(3px, 8px);
	-o-transform: rotate(45deg) translate(3px, 8px);
	transform: rotate(45deg) translate(3px, 8px);
}
.change_navicon .bar2 {
	opacity: 0;
}
.change_navicon .bar3 {
	-ms-transform: rotate(-45deg) translate(3px, -8px);
	-moz-transform: rotate(-45deg) translate(3px, -8px);
	-webkit-transform: rotate(-45deg) translate(3px, -8px);
	-o-transform: rotate(-45deg) translate(3px, -8px);
	transform: rotate(-45deg) translate(3px, -8px);
}

#header #header-menu .menu-item {
    cursor: pointer;
    min-width: 130px;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.2s;
}

#header #header-menu ul {
}

#header #header-menu ul li {
	height: 100px;
}

#header #header-menu ul li a {
	height: 100px;
	padding: 40px 50px;
}

#header #header-menu .menu-item:focus {
    background-color: inherit;
    outline: none;
}

#header #header-menu .menu-item:hover:not(.active) {
    background-color: #1e506f;
}

#header #header-menu .active {
    color: #C5FFD6;
    background: #245f83;
}
/* Header */





/* Footer */
#footer {
    background-color: #F7F7F7;
    border-top: 1px solid #DDD;
    font-size: 11px;
    overflow: auto;
}

#footer #footer-content {
    padding: 10px 15px;
    display: inline-block;
    float: left;
    line-height: 2;
}

#footer #footer-user-display-name {
    display: inline-block;
    float: right;
    text-align: right;
    padding: 10px 15px;
    font-weight: bold;
}
/* Footer */





/* Notification */
#notification {
    margin: 15px;
}

#notification strong {
    margin-right: 15px;
}

#notification .alert button {
    margin-right: 15px;
}
#notification .alert {
    margin-bottom: 0;
    background-color: #f5e8a8;
    color: #9E9980;
    box-shadow: 1px 1px 1px #a0a0a0;
    padding: 15px;
    position: fixed;
    z-index: 20000;
    right: 15px;
    bottom: 15px;
    min-width: 300px;
    max-width: 750px;
}
#notification .alert.success, #notification .alert.success .close {
	background-color: lightgreen;
	color: rgba(0,0,0,0.7);
}
#notification .alert.failure, #notification .alert.failure .close {
	background-color: #ED6C70;
	color: snow;
}
#notification .close {
    color: #9E9980;
    font-size: 25px;
    line-height: 0.8;
    margin-right: 0 !important;
}
/* Notification */





/* Loading */
#loading {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: rgba(255, 255, 255, 0.75);
}

#loading img {
    margin: auto;
    display: block;
    max-width: 100%;
}
/* Loading */





/* My-Appointments: COMPONENTS */
.admin-page .filter-records {
    margin-bottom: 20px;
}

#appointments_management-page #am_st_display, #appointments_management-page #am_tn_display, #appointments_management-page #am_sn_display {
	/* default: none */
	display: none;
}

.admin-page #available_appointments_service_category, .admin-page #available_appointments_tutor {
	margin-top: 6px;
}

.admin-page .filter-records form .input-group-selection select {
	opacity: 0.85;
	box-shadow: none;
}
.admin-page .filter-records form .input-group-selection select option {
	text-align: center;
}

.admin-page .filter-records form .key {
    margin-right: 15px;
    float: left;
}

.admin-page .filter-records form .input-group-addon {
    padding-top: 0;
    padding-right: 0;
    border-top: none;
}

.admin-page .filter-list {
	margin: 20px 0;
	padding-top: 5px;
	padding-left: 0;
	display: table;
	width: 100%;
	text-align: center;
}
.admin-page .filter-item {
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: snow;
	border: 1px solid #dddddd;
	
	user-select: none;
	cursor: pointer;
}
.admin-page .filter-item:focus, .admin-page .filter-item:hover {
	background-color: rgba(41, 109, 151, 0.8);
	color: snow;
}

/* Watch this, not yet adjusted */
.admin-page .results {
    overflow-y: auto;
    max-height: 450px;
    outline: none;
}
.admin-page#services-page #tutor_config .results {
	max-height: 350px;
}

.admin-page .results .entry {
    padding: 10px 7px;
}

.admin-page .results .entry:hover:not(.selected) {
    background-color: #F3F3F3;
    cursor: pointer;
}

.admin-page .results .entry.selected {
    background-color: #F4F4F4;
    border-right: 5px solid #296d97;
}

.admin-page .results hr {
    margin: 5px 0;
}

.admin-page#services-page .tutor_config .results {
	max-height: 333px;
	overflow-y: scroll;
}
.admin-page#services-page #service_type_config .results {
	max-height: 250px;
	overflow-y: scroll;
}
/* Watch this, not yet adjusted */

.record-details {
/*    max-width: 800px;*/
    margin-bottom: 20px;
}
.admin-page .form-group label.control-label {
	font-family: Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace;
	font-size: 15px;
	font-weight: bold;
}
.record-details .form-group input.form-control, .admin-page input.form-control {
	font-size: 14px;
	/* Show ellipsis on long messages, later implementation will make it show fully on click */
	text-overflow: ellipsis;
}

.record-details input:read-only,
.record-details select:disabled,
.record-details textarea:read-only {
    opacity: 0.85;
    box-shadow: none;
}

/* Nav Tabs */
.admin-page .nav {
	/* styles of ul */
	background-color: #f4f4f4;
	margin-bottom: 15px;
}
.admin-page .nav li {
	cursor: pointer;
}
.admin-page .nav-tabs>li.active>a, .admin-page .nav-tabs>li.active>a:focus {
	background-color: rgba(41, 109, 151, 0.8);
	color: snow;
}
/* Nav Tabs */


/* Horizontal Rule */
.admin-page .split-column-content {
	display: none;
}


.admin-page .filter-box {
	text-align: center;
	border: 2px solid rgba(41, 109, 151, 0.6);
	padding: 10px;
}
.admin-page .filter-box input {
	text-align: center;
}



.admin-page #tutor-save, .admin-page #tutor-cancel {
	display: none;
}
.admin-page #service_type-save, .admin-page #service_type-cancel {
	display: none;
}



.admin-page .current_tutors_in_this_service_type {
    overflow-y: auto;
    max-height: 340px;
    outline: none;
}
.admin-page .current_tutors_in_this_service_type div {
	padding: 10px 7px;
}
.admin-page .current_tutors_in_this_service_type hr {
	margin: 5px 0;
}


/* Calendars */
.admin-page .btn-toolbar.calendar-btns {
	padding-right: 5px;
	margin-bottom: 10px;
}

/* popups */
.admin-page .popup .curtain {
	background-color: black;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0.5;
	z-index: 999;
	
	/* Default hide */
	display: none;
}
.admin-page .popup #cal_edit_popup {
	border-radius: 10px;
	position: fixed;
	width: 666px;
	height: 520px;
	
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	
	box-sizing: border-box;
	background-color: white;
	z-index: 1000;
	
	/* Default hide */
	display: none;
}
.admin-page .popup #cal_add_popup {
	border-radius: 10px;
	position: fixed;
	width: 666px;
	height: 520px;
	
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	
	box-sizing: border-box;
	background-color: white;
	z-index: 1000;
	
	/* Default hide */
	display: none;
}
.admin-page .popup #tutor_new_tutor_popup {
	border-radius: 10px;
	position: fixed;
	width: 521px;
	height: 525px;
	
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	
	box-sizing: border-box;
	background-color: white;
	z-index: 1000;
	
	/* Default hide */
	display: none;
}
.admin-page .popup #service_type_new_service_type_popup {
	border-radius: 10px;
	position: fixed;
	width: 500px;
	height: 400px;
	
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	
	box-sizing: border-box;
	background-color: white;
	z-index: 1000;
	
	/* Default hide */
	display: none;
}
.admin-page .popup .popup-title h2 {
	border-radius: 10px 10px 0 0;
	user-select: none;
	letter-spacing: 1px;
	text-align: left;
	background-color: #296d97;
	color: snow;
	margin: 0;
	padding: 20px 25px;
	font-size: 30px;
}
.admin-page .popup .popup-container {
	width: 100%;
	box-sizing: border-box;
	margin: 5px 0 0;
	text-align: center;
}
.admin-page .popup form textarea {
	display: inline-block;
	box-sizing: border-box;
	width: 86%;
	padding: 16px;
	margin: 0 auto;
	font-size: 14px;
	outline: none;
	color:  #76838f;
	transition: all 0.2s;
}
.admin-page .popup #new_tutor_ids {
	border: 0.5px solid #296d97;
}
.admin-page .popup #new_tutor_ids_response {
	border: 0.5px solid #296d97;
	background-color: darkgray;
	cursor: inherit;
}
.admin-page .popup #new_tutor_ids:hover, .admin-page .popup #new_tutor_ids:focus {
	border: 2px solid #296d97;
}
.admin-page .popup form input, .admin-page .popup form select {
	border: 1px solid white;
	display: inline-block;
	box-sizing: border-box;
	width: 86%;
	height: 46px;
	padding-left: 10px;
	margin: 5px auto;
	font-size: 14px;
	outline: none;
	color:  #76838f;
	transition: all 0.2s;
}
.admin-page .popup form input:hover, .admin-page .popup form select:hover, .admin-page .popup form textarea:hover {
	outline: none;
	border: 1px solid #62a8ea;
}
.admin-page .popup form .popup_buttons {
	background-color: #296d97;
	border: none;
	width: 43%;
	height: 45px;
	line-height: 45px;
	color: white;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0;
	border-radius: 5px;
}
.admin-page .popup form .popup_buttons:hover {
	opacity: 0.7;
}
.admin-page .popup form hr {
	margin: 16px;
}
.admin-page .gg {
	background-color: rgba(173,46,48,0.8)!important;
	color: snow!important;
}
.admin-page .service_hover, .admin-page .service_hover td {
	background-color: rgba(199,21,133,0.95)!important;
	color: snow!important;
	z-index: 500!important;
}
.admin-page #popup_new_tutor_confirm {
	display: none;
}
/* popups */


/* Calendar Buttons */
.fc-scheduleToAllWeeks-button, .fc-scheduleToAllWeeks-button:active {
	background-color: mediumpurple!important;
	border-color: mediumpurple!important;
	transition: all 0.2s!important;
}
.fc-scheduleToAllWeeks-button:hover, .fc-scheduleToAllWeeks-button:focus {
	background-color: purple!important;
	border-color: purple!important;
}
.fc-addService-button, .fc-addService-button:active {
	background-color: rgb(41, 109, 151)!important;
	border-color: rgb(41, 109, 151)!important;
	transition: all 0.2s!important;
}
.fc-addService-button:hover, .fc-addService-button:focus {
	background-color: rgb(36, 95, 131)!important;
	border-color: rgb(36, 95, 131)!important;
}
/* Calendar Buttons */

/* Statistics */
#service_statistics_wrapper {
	margin: 10px auto;
}
/* Statistics */


/* Admin Settings */
#admin-settings-page #save, #admin-settings-page #cancel {
	display: none;
}

#admin-settings-page .form-group input.form-control {
	font-size: 14px;
	/* Show ellipsis on long messages, later implementation will make it show fully on click */
	text-overflow: ellipsis;
}
#admin-settings-page input:read-only,
select:disabled,
textarea:read-only {
    opacity: 0.85;
    box-shadow: none;
}

#common_save, #common_cancel {
	/* Hide initially */
	display: none;
}


/* Responsive Styles */
@media (max-width: 1200px) {
    #header #header-menu .menu-item {
        min-width: 100px;
    }

    #calendar-page #calendar-actions {
        text-align: left;
    }
}

@media (max-width: 1199px) {
	.admin-page .split-column-content {
		display: block;
	}
}

/* CALENDAR: HEADER */
@media (max-width: 1100px) {
	.fc-toolbar.fc-header-toolbar {
		display: block;
		text-align: center;
	}
	.fc-left, .fc-center, .fc-right {
		margin: 10px auto;
	}
}
/* CALENDAR: HEADER */

@media (max-width: 860px) {
    #header #header-menu .menu-item {
        min-width: 85px;
    }

    #footer #footer-user-display-name {
        text-align: right;
    }

    #calendar-page #calendar-filter label {
        margin-bottom: 5px;
    }
}

@media (max-width: 768px) {
    #footer #footer-content, #footer #footer-user-display-name {
        text-align: center;
    }
}

/* CALENDAR: HEADER */
@media (max-width: 750px) {
	#calendar_semester, #calendar_week_number, #calendar_tutor, #calendar_gotodate {
		display: block;
		margin: 3px auto;
		text-align-last: center;
	}
}
/* CALENDAR: HEADER */

@media (max-width: 468px) {
    #calendar-page .fc-header td {
        display: block;
        width: 70vw;
        float: left;
        margin: 10px auto;
        text-align: left;
    }

    #calendar-page #calendar-actions .btn {
        width: 100%;
        margin: 5px 0;
    }

    .ui-dialog {
        margin: 0 12px;
    }

    #calendar-page #calendar-filter select {
        min-width: auto;
    }

    #users-page #providers .switch-view {
        margin: 20px 0;
        width: 100%;
    }

    #users-page #providers .switch-view strong {
        display: block;
        width: 100%;
        text-align: center;
        margin: 16px 0;
    }

    #users-page #providers .switch-view div {
        width: 48%;
    }
}

/* CALENDAR: HEADER */
@media (max-width: 450px) {
	.fc-button-group {
		display: block;
		margin: 10px auto;
	}
	.fc-toolbar>*>:not(:first-child) {
		margin-left: 0;
	}
	.fc-scheduleToAllWeeks-button, .fc-addService-button {
		display: block;
		margin: 10px auto!important;
	}
}
/* CALENDAR: HEADER */

/* STATISTICS */
@media (max-width: 420px) {
	#start_date, #end_date, #clear_dates {
		display: block;
		margin: 15px auto!important;
		text-align: center;
	}
	#end_date {
		margin-bottom: 25px;
	}
}
/* STATISTICS */

/* Responsive Styles */
