/**
 * STUDENTS CSS FILE FOR PEER-TUTORING CLE SUSTECH
 */

root {
    display: block;
}

/* BACKEND GENERAL ELEMENTS
   -------------------------------------------------------------------- */

/* Header */
#header {
    background-color: #296d97;
    border-bottom: 1px solid #4197cb;
    border-radius: 0;
    margin-bottom: 15px;
}

#header #header-logo {
    padding: 24px;
	padding-left: 40px;
	height: 100px;
	transition: all 0.3s;
}

#header #header-logo img {
    float: left;
    margin-right: 10px;
	width: 100%;
	transition: all 0.3s;
}

#header .navbar-header .navbar-toggle {
	margin-top: 30px;
	margin-bottom: 30px;
}

/* Navicon */
#header .navbar-header .navbar-toggle .icon-bar {
    background-color: rgba(255,255,255,0.9);
	width: 30px;
	height: 4px;
	border-radius: 2px;transition: 0.3s;
}
.change_navicon .bar1 {
	-ms-transform: rotate(45deg) translate(3px, 8px);
	-moz-transform: rotate(45deg) translate(3px, 8px);
	-webkit-transform: rotate(45deg) translate(3px, 8px);
	-o-transform: rotate(45deg) translate(3px, 8px);
	transform: rotate(45deg) translate(3px, 8px);
}
.change_navicon .bar2 {
	opacity: 0;
}
.change_navicon .bar3 {
	-ms-transform: rotate(-45deg) translate(3px, -8px);
	-moz-transform: rotate(-45deg) translate(3px, -8px);
	-webkit-transform: rotate(-45deg) translate(3px, -8px);
	-o-transform: rotate(-45deg) translate(3px, -8px);
	transform: rotate(-45deg) translate(3px, -8px);
}

#header #header-menu .menu-item {
    cursor: pointer;
    min-width: 130px;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.2s;
}

#header #header-menu ul {
}

#header #header-menu ul li {
	height: 100px;
}

#header #header-menu ul li a {
	height: 100px;
	padding: 40px 50px;
}

#header #header-menu .menu-item:focus {
    background-color: inherit;
    outline: none;
}

#header #header-menu .menu-item:hover:not(.active) {
    background-color: #1e506f;
}

#header #header-menu .active {
    color: #C5FFD6;
    background: #245f83;
}
/* Header */





/* Footer */
#footer {
    background-color: #F7F7F7;
    border-top: 1px solid #DDD;
    font-size: 11px;
    overflow: auto;
}

#footer #footer-content {
    padding: 10px 15px;
    display: inline-block;
    float: left;
    line-height: 2;
}

#footer #footer-user-display-name {
    display: inline-block;
    float: right;
    text-align: right;
    padding: 10px 15px;
    font-weight: bold;
}
/* Footer */





/* Notification */
#notification {
    margin: 15px;
}

#notification strong {
    margin-right: 15px;
}

#notification .alert button {
    margin-right: 15px;
}
#notification .alert {
    margin-bottom: 0;
    background-color: #f5e8a8;
    color: #9E9980;
    box-shadow: 1px 1px 1px #a0a0a0;
    padding: 15px;
    position: fixed;
    z-index: 20000;
    right: 15px;
    bottom: 15px;
    min-width: 300px;
    max-width: 750px;
}
#notification .alert.success, #notification .alert.success .close {
	background-color: lightgreen;
	color: rgba(0,0,0,0.7);
}
#notification .alert.failure, #notification .alert.failure .close {
	background-color: #ED6C70;
	color: snow;
}
#notification .close {
    color: #9E9980;
    font-size: 25px;
    line-height: 0.8;
    margin-right: 0 !important;
}
/* Notification */





/* Loading */
#loading {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: rgba(255, 255, 255, 0.75);
}

#loading img {
    margin: auto;
    display: block;
    max-width: 100%;
}
/* Loading */





/* My-Appointments: COMPONENTS */
.students-page .filter-records {
    margin-bottom: 20px;
}

#filter-my_appointments #ma_sc_display, #filter-my_appointments #ma_tn_display {
	/* default: none */
	display: none;
}

.students-page #available_appointments_service_category, .students-page #available_appointments_tutor {
	margin-top: 6px;
}

.students-page .filter-records form .input-group-selection select {
	opacity: 0.85;
	box-shadow: none;
}
.students-page .filter-records form .input-group-selection select option {
	text-align: center;
}

.students-page .filter-records form .key {
    margin-right: 15px;
    float: left;
}

.students-page .filter-records form .input-group-addon {
    padding-top: 0;
    padding-right: 0;
    border-top: none;
}

.students-page .filter-list {
	margin: 20px 0;
	padding-top: 5px;
	padding-left: 0;
	display: table;
	width: 100%;
	text-align: center;
}
.students-page .filter-item {
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: snow;
	border: 1px solid #dddddd;
	
	user-select: none;
	cursor: pointer;
}
.students-page .filter-item:focus, .students-page .filter-item:hover {
	background-color: rgba(41, 109, 151, 0.8);
	color: snow;
}

/* Watch this, not yet adjusted */
.students-page .filter-records .results {
    overflow-y: auto;
    max-height: 320px;
    outline: none;
}

.students-page .filter-records .results .entry {
    padding: 10px 7px;
}

.students-page .filter-records .results .entry:hover:not(.selected) {
    background-color: #F3F3F3;
    cursor: pointer;
}

.students-page .filter-records .results .entry.selected {
    background-color: #F4F4F4;
    border-right: 5px solid #296d97;
}

.students-page .filter-records .results hr {
    margin: 5px 0;
}
/* Watch this, not yet adjusted */

.record-details {
/*    max-width: 800px;*/
    margin-bottom: 20px;
}
.record-details .form-group label.control-label {
	font-family: Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace;
	font-size: 15px;
	font-weight: bold;
}
.record-details .form-group input.form-control {
	font-size: 14px;
	/* Show ellipsis on long messages, later implementation will make it show fully on click */
	text-overflow: ellipsis;
}

.record-details input:read-only,
.record-details select:disabled,
.record-details textarea:read-only {
    opacity: 0.85;
    box-shadow: none;
}




/* popups */
.students-page .curtain {
	background-color: black;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0.5;
	z-index: 999;
	
	/* Default hide */
	display: none;
}
.students-page #popup_assess #assess_popup {
	position: absolute;
	width: 666px;
	height: 480px;
	
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	
	box-sizing: border-box;
	background-color: #e6e6e6;
	z-index: 1000;
	
	/* Default hide */
	display: none;
}
.students-page #popup_assess #assess_popup .assess-title h2 {
	user-select: none;
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
	letter-spacing: 1px;
	text-align: center;
	color: #296d97;
	margin: 26px 0;
}

/* Rating stars */
.students-page #popup_assess #assess_popup form .stars {
	/* Prevent whitespace issues */
	display: inline-flex;
}
.rating__icon {
	/* Make hover effect work properly in IE */
	pointer-events: none;
}
.rating__input {
	/* Hide radio inputs */
	position: absolute !important;
	left: -9999px !important;
}
.rating__label {
	/* Set icon padding and size */
	cursor: pointer;
	padding: 0 0.1em;
	font-size: 2rem;
}
.rating__icon--star {
	/* Set default star color */
	color: orange;
}
.rating__icon--none {
	/* Set color of none icon when unchecked */
	color: #ddd;
}

.rating__input--none:checked + .rating__label .rating__icon--none {
	/* If none icon is checked, make it red */
	color: red;
}

.rating__input:checked ~ .rating__label .rating__icon--star {
	/* If any input is checked, make its following siblings grey */
	color: #ddd;
}

.stars:hover .rating__label .rating__icon--star {
	/* Make all stars orange on rating group hover */
	color: orange;
}

.rating__input:hover ~ .rating__label .rating__icon--star {
	/* Make hovered input's following siblings grey on hover */
	color: #ddd;
}

.stars:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
	/* Make none icon grey on rating group hover */
	color: #ddd;
}

.rating__input--none:hover + .rating__label .rating__icon--none {
	/* Make none icon red on hover */
	color: red;
}
/* Rating stars */

.students-page #popup_assess #assess_popup .assess-container {
	width: 100%;
	box-sizing: border-box;
	margin: 5px 0 0;
	text-align: center;
}
.students-page #popup_assess #assess_popup form textarea {
	display: inline-block;
	box-sizing: border-box;
	width: 86%;
	padding: 16px;
	margin: 0 auto;
	font-size: 14px;
	outline: none;
	color:  #76838f;
}
.students-page #popup_assess #assess_popup form input {
	border: 1px solid white;
	display: inline-block;
	box-sizing: border-box;
	width: 86%;
	height: 46px;
	padding-left: 10px;
	margin: 0 auto;
	font-size: 14px;
	outline: none;
	color:  #76838f;
}
.students-page #popup_assess #assess_popup form input:hover {
	outline: none;
	border: 1px solid #62a8ea;
}
.students-page #popup_assess #assess_popup form .assess_buttons {
	background-color: #62a8ea;
	border: none;
	width: 43%;
	height: 45px;
	line-height: 45px;
	color: white;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0;
}
.students-page #popup_assess #assess_popup form .assess_buttons:hover {
	opacity: 0.7;
}
.students-page .rate {
	font-size: 26px;
}
.students-page #popup_assess #assess_popup form hr {
	margin: 16px;
}

/* My-Appointments: COMPONENTS */







/* Available-Appointments: COMPONENTS */
#filter-aa_tutors #aa_sc_display, #filter-aa_tutors #aa_tn_display {
	display: none;
}

.students-page .nav {
	/* styles of ul */
	background-color: #f4f4f4;
	margin-bottom: 15px;
}
.students-page .nav li {
	cursor: pointer;
}
.students-page .nav li #check-calendar-tabnav {
	
}
.students-page .nav-tabs>li.active>a, .students-page .nav-tabs>li.active>a:focus {
	background-color: rgba(41, 109, 151, 0.8);
	color: snow;
}








/* Available-Appointments: COMPONENTS */





/* Select by time */
.students-page .center-text {
	text-align: center;
}
.students-page #select-by-time-tab .wrapper {
	margin: 20px 0;
}
.students-page .calendar-block div#sel_calendar {
	font-size: 15px;
	margin: 0 auto;
}
.students-page .calendar-block div#sel_calendar .ui-datepicker {
	margin: 0 auto;
}
.students-page .calendar-block div#sel_calendar tbody .ui-datepicker-week-col {
	opacity: 0.8;
	padding-top: 5px;
	font-size: 12px;
}
.students-page .calendar-block div#sel_calendar .ui-state-hover {
	background-color: rgba(41, 109, 151, 0.5)!important;
	color: snow;
	border-radius: 50px;
	width: 22px;
	height: 22px;
	line-height: 1.3;
	margin: 4px;
}
.students-page .calendar-block div#sel_calendar .ui-state-highlight {
	background-color: rgba(53, 182, 111, 1.0)!important;
	width: 25px;
	height: 25px;
}
.students-page .calendar-block div#sel_calendar .ui-state-active {
	background-color: rgba(41, 109, 151, 1.0)!important;
	width: 25px;
	height: 25px;
}
.students-page .calendar-block #show_calendar_date {
	width: 270px;
	text-align: center;
	padding: 10px;
	border: 2px solid rgba(41, 109, 151, 0.6);
	border-radius: 10px;
	font-weight: bold;
	cursor: inherit;
	color: rgba(41, 109, 151, 0.9);
	user-select: none;
}
.students-page .calendar-block #show_calendar_date:focus {
	outline: none;
}
.students-page .calendar-block .hints {
	width: 270px;
	margin: 10px auto;
}
.students-page .calendar-block .hints .hints-today {
	background-color: rgba(53, 182, 111, 1.0);
	padding: 3px;
	border-radius: 67px;
	font-weight: bold;
	color: snow;
}
.students-page .calendar-block .hints .hints-selected {
	background-color: rgba(41,109,151,1.0);
	padding: 3px;
	border-radius: 50px;
	font-weight: bold;
	color: snow;
}
.students-page .calendar-block hr {
	width: 300px;
	margin: 6px auto;
}
.students-page .calendar-block .help-block {
	width: 270px;
	margin: 0 auto;
	text-align: justify;
}



#split-stutime {
	display: none;
}



.students-page .sel-tutor-by-time #date-title {
	width: 200px;
	border: none;
	text-align: center;
	font-weight: bold;
	font-size: 36px;
	color: rgba(41,109,151,0.8)
}
.students-page .sel-tutor-by-time #date-title:focus {
	outline: none;
}
.students-page .sel-tutor-by-time .available-tutors-at-time {
	height: 285px;
	overflow-y: scroll;
}




.students-page .sel-tutor-by-time .available-tutors-at-time .entry {
	padding: 10px 7px;
	margin-right: 10px;
}
.students-page .sel-tutor-by-time .available-tutors-at-time .entry.selected {
	background-color: #f4f4f4;
	border-right: 5px solid #296d97;
}
.students-page .sel-tutor-by-time .available-tutors-at-time .entry:hover:not(.selected) {
	background-color: #f3f3f3;
	cursor: pointer;
}



/* Select by time */
/* popups */
.students-page .popup .curtain {
	background-color: black;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0.5;
	z-index: 999;
	
	/* Default hide */
	display: none;
}
.students-page .popup #cal_edit_popup {
	position: fixed;
	width: 666px;
	height: 540px;
	
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	
	box-sizing: border-box;
	background-color: #e6e6e6;
	z-index: 1000;
	
	/* Default hide */
	display: none;
}
.students-page .popup .popup-title h2 {
	user-select: none;
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
	letter-spacing: 1px;
	text-align: center;
	color: #296d97;
	margin: 26px 0;
}
.students-page .popup .popup-container {
	width: 100%;
	box-sizing: border-box;
	margin: 5px 0 0;
	text-align: center;
}
.students-page .popup form textarea {
	display: inline-block;
	box-sizing: border-box;
	width: 86%;
	padding: 16px;
	margin: 0 auto;
	font-size: 14px;
	outline: none;
	color:  #76838f;
	transition: all 0.2s;
}
.students-page .popup form input, .students-page .popup form select {
	border: 1px solid white;
	display: inline-block;
	box-sizing: border-box;
	width: 86%;
	height: 46px;
	padding-left: 10px;
	margin: 5px auto;
	font-size: 14px;
	outline: none;
	color:  #76838f;
	transition: all 0.2s;
}
.students-page .popup form input:hover, .students-page .popup form select:hover, .students-page .popup form textarea:hover {
	outline: none;
	border: 1px solid #62a8ea;
}
.students-page .popup form .popup_buttons {
	background-color: #62a8ea;
	border: none;
	width: 43%;
	height: 45px;
	line-height: 45px;
	color: white;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0;
}
.students-page .popup form .popup_buttons:hover {
	opacity: 0.7;
}
.students-page .popup form hr {
	margin: 16px;
}
.students-page .gg {
	background-color: rgba(173,46,48,0.8)!important;
	color: snow!important;
}
.students-page .service_hover, .students-page .service_hover td {
	background-color: rgba(199,21,133,0.95)!important;
	color: snow!important;
	z-index: 500!important;
}
/* popups */











/* Responsive Styles */
@media (max-width: 1200px) {
    #header #header-menu .menu-item {
        min-width: 100px;
    }

    #calendar-page #calendar-actions {
        text-align: left;
    }
}

/* CALENDAR: HEADER */
@media (max-width: 1100px) {
	.fc-toolbar.fc-header-toolbar {
		display: block;
		text-align: center;
	}
	.fc-left, .fc-center, .fc-right {
		margin: 10px auto;
	}
}
/* CALENDAR: HEADER */

@media (max-width: 991px) {
	#split-stutime {
		display: block;
	}
}

@media (max-width: 860px) {
    #header #header-menu .menu-item {
        min-width: 85px;
    }

    #footer #footer-user-display-name {
        text-align: right;
    }

    #calendar-page #calendar-filter label {
        margin-bottom: 5px;
    }
}

@media (max-width: 768px) {
    #footer #footer-content, #footer #footer-user-display-name {
        text-align: center;
    }
}

/* CALENDAR: HEADER */
@media (max-width: 750px) {
	#calendar_semester, #calendar_week_number, #calendar_tutor, #calendar_gotodate {
		display: block;
		margin: 3px auto;
		text-align-last: center;
	}
}
/* CALENDAR: HEADER */

@media (max-width: 468px) {
    #calendar-page .fc-header td {
        display: block;
        width: 70vw;
        float: left;
        margin: 10px auto;
        text-align: left;
    }

    #calendar-page #calendar-actions .btn {
        width: 100%;
        margin: 5px 0;
    }

    .ui-dialog {
        margin: 0 12px;
    }

    #calendar-page #calendar-filter select {
        min-width: auto;
    }

    #users-page #providers .switch-view {
        margin: 20px 0;
        width: 100%;
    }

    #users-page #providers .switch-view strong {
        display: block;
        width: 100%;
        text-align: center;
        margin: 16px 0;
    }

    #users-page #providers .switch-view div {
        width: 48%;
    }
}

/* CALENDAR: HEADER */
@media (max-width: 450px) {
	.fc-button-group {
		display: block;
		margin: 10px auto;
	}
	.fc-toolbar>*>:not(:first-child) {
		margin-left: 0;
	}
}
/* CALENDAR: HEADER */

/* Responsive Styles */
