/**
 * TUTORS CSS FILE FOR PEER-TUTORING CLE SUSTECH
 */

root {
    display: block;
}

body::-webkit-scrollbar {
    width: 1.2em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
	border-radius: 20px;
}

/* BACKEND GENERAL ELEMENTS
   -------------------------------------------------------------------- */

/* Header */
#header {
    background-color: #296d97;
    border-bottom: 1px solid #4197cb;
    border-radius: 0;
    margin-bottom: 15px;
}

#header #header-logo {
    padding: 24px;
	padding-left: 40px;
	height: 100px;
	transition: all 0.3s;
}

#header #header-logo img {
    float: left;
    margin-right: 10px;
	width: 100%;
	transition: all 0.3s;
}

#header .navbar-header .navbar-toggle {
	margin-top: 30px;
	margin-bottom: 30px;
}

/* Navicon */
#header .navbar-header .navbar-toggle .icon-bar {
    background-color: rgba(255,255,255,0.9);
	width: 30px;
	height: 4px;
	border-radius: 2px;transition: 0.3s;
}
.change_navicon .bar1 {
	-ms-transform: rotate(45deg) translate(3px, 8px);
	-moz-transform: rotate(45deg) translate(3px, 8px);
	-webkit-transform: rotate(45deg) translate(3px, 8px);
	-o-transform: rotate(45deg) translate(3px, 8px);
	transform: rotate(45deg) translate(3px, 8px);
}
.change_navicon .bar2 {
	opacity: 0;
}
.change_navicon .bar3 {
	-ms-transform: rotate(-45deg) translate(3px, -8px);
	-moz-transform: rotate(-45deg) translate(3px, -8px);
	-webkit-transform: rotate(-45deg) translate(3px, -8px);
	-o-transform: rotate(-45deg) translate(3px, -8px);
	transform: rotate(-45deg) translate(3px, -8px);
}

#header #header-menu .menu-item {
    cursor: pointer;
    min-width: 130px;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.2s;
}

#header #header-menu ul {
}

#header #header-menu ul li {
	height: 100px;
}

#header #header-menu ul li a {
	height: 100px;
	padding: 40px 50px;
}

#header #header-menu .menu-item:focus {
    background-color: inherit;
    outline: none;
}

#header #header-menu .menu-item:hover:not(.active) {
    background-color: #1e506f;
}

#header #header-menu .active {
    color: #C5FFD6;
    background: #245f83;
}
/* Header */





/* Footer */
#footer {
    background-color: #F7F7F7;
    border-top: 1px solid #DDD;
    font-size: 11px;
    overflow: auto;
}

#footer #footer-content {
    padding: 10px 15px;
    display: inline-block;
    float: left;
    line-height: 2;
}

#footer #footer-user-display-name {
    display: inline-block;
    float: right;
    text-align: right;
    padding: 10px 15px;
    font-weight: bold;
}
/* Footer */





/* Notification */
#notification {
    margin: 15px;
}

#notification strong {
    margin-right: 15px;
}

#notification .alert button {
    margin-right: 15px;
}
#notification .alert {
    margin-bottom: 0;
    background-color: #f5e8a8;
    color: #9E9980;
    box-shadow: 1px 1px 1px #a0a0a0;
    padding: 15px;
    position: fixed;
    z-index: 20000;
    right: 15px;
    bottom: 15px;
    min-width: 300px;
    max-width: 750px;
}
#notification .alert.success, #notification .alert.success .close {
	background-color: lightgreen;
	color: rgba(0,0,0,0.7);
}
#notification .alert.failure, #notification .alert.failure .close {
	background-color: #ED6C70;
	color: snow;
}
#notification .close {
    color: #9E9980;
    font-size: 25px;
    line-height: 0.8;
    margin-right: 0 !important;
}
/* Notification */





/* Loading */
#loading {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: rgba(255, 255, 255, 0.75);
}

#loading img {
    margin: auto;
    display: block;
    max-width: 100%;
}
/* Loading */





/* My-Appointments: COMPONENTS */
.tutors-page .filter-records {
    margin-bottom: 20px;
}

#filter-my_appointments #am_sc_display, #filter-my_appointments #am_tn_display {
	/* default: none */
	display: none;
}

.tutors-page #available_appointments_service_category, .tutors-page #available_appointments_tutor {
	margin-top: 6px;
}

.tutors-page .filter-records form .input-group-selection select {
	opacity: 0.85;
	box-shadow: none;
}
.tutors-page .filter-records form .input-group-selection select option {
	text-align: center;
}

.tutors-page .filter-records form .key {
    margin-right: 15px;
    float: left;
}

.tutors-page .filter-records form .input-group-addon {
    padding-top: 0;
    padding-right: 0;
    border-top: none;
}

.tutors-page .filter-list {
	margin: 20px 0;
	padding-top: 5px;
	padding-left: 0;
	display: table;
	width: 100%;
	text-align: center;
}
.tutors-page .filter-item {
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: snow;
	border: 1px solid #dddddd;
	
	user-select: none;
	cursor: pointer;
	
	transition: all 0.2s;
}
.tutors-page .filter-item:focus, .tutors-page .filter-item:hover {
	background-color: rgba(41, 109, 151, 0.8);
	color: snow;
}

/* Watch this, not yet adjusted */
.tutors-page .filter-records .results {
    overflow-y: auto;
    max-height: 420px;
    outline: none;
}
.tutors-page .filter-records .results::-webkit-scrollbar {
    width: 1.2em;
}
.tutors-page .filter-records .results::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.tutors-page .filter-records .results::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
	border-radius: 20px;
}

.tutors-page .filter-records .results .entry {
    padding: 10px 7px;
}

.tutors-page .filter-records .results .entry:hover:not(.selected) {
    background-color: #F3F3F3;
    cursor: pointer;
}

.tutors-page .filter-records .results .entry.selected {
    background-color: #F4F4F4;
    border-right: 5px solid #296d97;
}

.tutors-page .filter-records .results hr {
    margin: 5px 0;
}
/* Watch this, not yet adjusted */

.record-details {
/*    max-width: 800px;*/
    margin-bottom: 20px;
}
.record-details .form-group label.control-label {
	font-family: Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace;
	font-size: 15px;
	font-weight: bold;
}
#tutor-settings-page label.control-label {
	font-family: Consolas, Andale Mono, Lucida Console, Lucida Sans Typewriter, Monaco, Courier New, monospace;
	font-size: 15px;
	font-weight: bold;
}
.record-details .form-group input.form-control {
	font-size: 14px;
	/* Show ellipsis on long messages, later implementation will make it show fully on click */
	text-overflow: ellipsis;
}

.record-details input:read-only,
.record-details select:disabled,
.record-details textarea:read-only {
    opacity: 0.85;
    box-shadow: none;
}

/* My-Appointments: COMPONENTS */




/* Rating stars */
.stars {
	/* Prevent whitespace issues */
	display: inline-flex;
}
.rating__input {
	/* Hide radio inputs */
	position: absolute !important;
	left: -9999px !important;
}
.rating__label {
	/* Set icon padding and size */
	padding: 0 0.1em;
	font-size: 2rem;
}
.rating__icon--star {
	/* Set default star color */
	color: orange;
}
.rating__icon--star.reset {
	/* When reset, dark */
	color: #ddd!important;
}
.rating__icon--none {
	/* Set color of none icon when unchecked */
	color: #ddd;
}

.rating__input--none:checked + .rating__label .rating__icon--none {
	/* If none icon is checked, make it red */
	color: red;
}

.rating__input:checked ~ .rating__label .rating__icon--star {
	/* If any input is checked, make its following siblings grey */
	color: #ddd;
}
/* Rating stars */




/* Available-Appointments: COMPONENTS */
#filter-aa_tutors #aa_sc_display, #filter-aa_tutors #aa_tn_display {
	display: none;
}

.tutors-page .nav {
	/* styles of ul */
	background-color: #f4f4f4;
	margin-bottom: 15px;
}
.tutors-page .nav li {
	cursor: pointer;
}
.tutors-page .nav li #check-calendar-tabnav {
	background-color: rgba(41, 109, 151, 0.8);
	color: snow;
}




/* Disabled Class */
.tutors-page .disableEvents {
	pointer-events: none;
	cursor: not-allowed;
}




/* Available-Appointments: COMPONENTS */








/* Tutor Settings */
#tutor-settings-page #save, #tutor-settings-page #cancel {
	display: none;
}

#tutor-settings-page .form-group input.form-control {
	font-size: 14px;
	/* Show ellipsis on long messages, later implementation will make it show fully on click */
	text-overflow: ellipsis;
}

#tutor-settings-page input:read-only,
select:disabled,
textarea:read-only {
    opacity: 0.85;
    box-shadow: none;
}







/* No Edition */
.tutors-page .no-edit {
	border: none!important;
	font-weight: bold;
}



/* Popup */
.tutors-page .popup .curtain {
	background-color: black;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0.5;
	z-index: 999;
	
	/* Default hide */
	display: none;
}
.tutors-page .popup #tutor_feedback_popup_window {
	border-radius: 10px;
	position: fixed;
	width: 1150px;
	height: 630px;
	
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	
	box-sizing: border-box;
	background-color: white;
	z-index: 1000;
	
	/* Default hide */
	display: none;
	
	overflow: auto;
}
.tutors-page .popup #tutor_feedback_popup_window::-webkit-scrollbar {
    width: 0;
}
.tutors-page .popup #tutor_feedback_popup_window::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.tutors-page .popup #tutor_feedback_popup_window::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
	border-radius: 20px;
}
.tutors-page .popup .popup-title h2 {
	border-radius: 10px 10px 0 0;
	user-select: none;
	letter-spacing: 1px;
	text-align: left;
	background-color: #296d97;
	color: snow;
	margin: 0;
	padding: 20px 25px;
	font-size: 30px;
}
.tutors-page .popup .popup-container {
	width: 100%;
	box-sizing: border-box;
	margin: 5px 0 0;
	text-align: center;
}
.tutors-page .popup form textarea {
	width: 86%;
	padding: 10px;
	font-size: 16px;
	color:  #76838f;
	transition: all 0.2s;
	border: 1px solid rgb(41, 109, 151, 0.7);
}
.tutors-page .popup textarea:hover, .tutors-page .popup textarea:focus {
	border: 3px solid rgb(41, 109, 151, 0.7)!important;
}
.tutors-page .popup form .popup_buttons {
	background-color: #296d97;
	width: 43%;
	height: 45px;
	line-height: 45px;
	color: white;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0;
	border-radius: 5px;
	/* future modification */
	border: 1.5px solid #296d97;
}
.tutors-page .popup form .popup_buttons#feedback_cancel {
	background-color: white;
	color: #296d97;
}
.tutors-page .popup form .popup_buttons:hover {
	opacity: 0.7;
}
.tutors-page .popup form hr {
	margin: 16px;
}
.tutors-page .gg {
	background-color: rgba(173,46,48,0.8)!important;
	color: snow!important;
}
/* Popup */


.tutors-page .bs0 {
	color: #296d97;
	font-weight: bold;
}
.tutors-page .bs1 {
/*	color: #948c19;*/
	color: green;
	font-weight: bold;
}
.tutors-page .bs2 {
	color: green;
	font-weight: bold;
}
.tutors-page .bs3 {
	color: red;
	font-weight: bold;
}


/* Responsive Styles */
@media (max-width: 1200px) {
    #header #header-menu .menu-item {
        min-width: 100px;
    }

    #calendar-page #calendar-actions {
        text-align: left;
    }
	
	.tutors-page .popup #tutor_feedback_popup_window {
		width: 90%;
	}
}

@media (max-width: 860px) {
    #header #header-menu .menu-item {
        min-width: 85px;
    }

    #footer #footer-user-display-name {
        text-align: right;
    }

    #calendar-page #calendar-filter label {
        margin-bottom: 5px;
    }
}

@media (max-width: 768px) {
    #footer #footer-content, #footer #footer-user-display-name {
        text-align: center;
    }
}

@media (max-width: 468px) {
    #calendar-page .fc-header td {
        display: block;
        width: 70vw;
        float: left;
        margin: 10px auto;
        text-align: left;
    }

    #calendar-page #calendar-actions .btn {
        width: 100%;
        margin: 5px 0;
    }

    .ui-dialog {
        margin: 0 12px;
    }

    #calendar-page #calendar-filter select {
        min-width: auto;
    }

    #users-page #providers .switch-view {
        margin: 20px 0;
        width: 100%;
    }

    #users-page #providers .switch-view strong {
        display: block;
        width: 100%;
        text-align: center;
        margin: 16px 0;
    }

    #users-page #providers .switch-view div {
        width: 48%;
    }
}

/* HEIGHT */
@media (max-height: 680px) {
	.tutors-page .popup #tutor_feedback_popup_window {
		height: 85%;
	}
}
/* HEIGHT */

/* Let's see what will happen with this navbar breakpoints handling! */
/* Thanks to the answer here: https://stackoverflow.com/questions/28659556/change-navbar-breakpoint-in-bootstrap-3-3-2/28659861#28659861,
	The problem is now solved! */
@media (max-width: 1150px) {
    .navbar-header {
        float: none;
    }
	.navbar-header .navbar-brand {
		display: none;
	}
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
		float: none;
		margin: 12px auto;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
}
/* Let's see what will happen with this navbar breakpoints handling! */

/* Responsive Styles */
